<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.japaneixxx.odin.core">

    <permission
        android:name="com.japaneixxx.odin.permission.ACCESS_DATA"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:label="ODIN Core"
        android:theme="@style/Theme.Core">

        <provider
            android:name=".provider.OdinContentProvider"
            android:authorities="com.japaneixxx.odin.core.provider"
            android:exported="true"
            android:readPermission="com.japaneixxx.odin.permission.ACCESS_DATA"
            android:writePermission="com.japaneixxx.odin.permission.ACCESS_DATA" />

    </application>
</manifest>